




<div class="wrap">
	<h3 class="whitetext">Clint Eastwood says,</h3>
	<blockquote>
		<h1 class="whitetext">
			<%= @quote %>
		</h1>	
	</blockquote><br/>
	<%= link_to 'GIVE ME ANOTHA', '#', :class => 'whitetext' %>
</div>
<audio autoplay loop>
      <source src="/song.mp3">
</audio>