
<!-- sir eastwood says... -->



<div class="wrap">
	<h3 class="whitetext">Clint Eastwood says,</h3>
	<blockquote>
		<h1 class="whitetext">
			<%= @quote %>
		</h1>	
	</blockquote>
	<center><%= link_to 'GIVE ME ANOTHA', '#', :class => 'whitetext' %></center>
</div>
